@font-face {
  font-family: 'Bubbleboddy Neue';
  src: url('/public/bubbleboddy_neue/bubbleboddyneue-regular trial.ttf') format('truetype');
}

.navbar {
  background-color: #151217;
}

.navbar-brand img {
  width: 60%; 
  height: auto; 
}

.navbar-nav {
  margin-left: auto; 
}

button{
  color:#DA001E;
}

.nav-link {
  color: #FDD90B;
  margin-left: 4rem; 
  font-weight: 500; 
  font-family: 'Bubbleboddy Neue'sans-serif;
}

.nav-link:hover {
  color:#DA001E; 
}

.container-fluid {
  padding-left: 100px; 
  padding-right: 100px; 
}

/* Ajustements pour tablettes */
@media (max-width: 768px) {
  .container-fluid {
    padding-left: 30px; 
    padding-right: 30px;
  }
  .nav-link { 
    margin-left: 0.5rem; 
  }
}
.navbar-brand img {
  width: 50%; 
  height: auto; 
}

/* Ajustements pour mobiles */
@media (max-width: 480px) {
  .container-fluid {
    padding-left: 20px; 
    padding-right: 20px;
  }
  .nav-link { 
    margin-left: 0.5rem; 
  }
  .navbar-brand img {
    width:40%; 
    height: auto; 
  }
}