<footer class="footer">
    <div class="container">
        <div class="logo-name">
            <a href="/" class="footer-link">  
            <p>Au petit village</p>
            </a>
        </div> 
        <div class="welcome-message">
            <p>Ensemble, créons des moments inoubliables. Suivez-nous et plongez dans l'aventure !</p>
        </div> 
        <div class="social-links">
            <a href="{{facebookLink}}" target="_blank">  
            <img src="facebook.png" alt="Suivez-nous sur Facebook"></a>
            <a href="{{twitterLink}}" target="_blank"> 
            <img src="twitter.png" alt="Rejoignez-nous sur Twitter"></a>
      </div>
    </div>
    <div class="copyright">
        <p>&copy; 2024 Au petit village. Tous droits réservés.</p>
    </div>
  </footer>

