<div class="external-background">
<main>
    <section class="Title-presentation">
        <h1>L'histoire de l'entreprise</h1>
            <p>Plongez dans l'univers enchanté d'Astérix & Obélix avec nos figurines <strong>faites main</strong>, 
            un hommage vibrant aux <strong>héros de notre enfance</strong>. 
            Chez "Au petit village", 
            chaque figurine est sculptée avec passion et précision, 
            capturant l'esprit et l'humour de la célèbre bande dessinée qui a marqué des générations.
            </p>
        <h3>Explorez notre collection unique</h3> 
            <p>Découvrez des créations uniques où chaque détail raconte une histoire. 
            De la bravoure d'Astérix à la force tranquille d'Obélix, 
            nos figurines sont une invitation à revivre les aventures intemporelles de nos Gaulois préférés.
            </p>
            
        <h3>Un voyage à travers le temps</h3>
            <p>Conçues pour les passionnés, par des passionnés, 
                nos figurines sont plus qu'un simple objet de collection ; 
                elles sont un pont entre le passé et le présent, 
                une façon de garder vivantes les légendes qui ont bercé notre jeunesse.
            </p>
        <h3>Engagement envers la qualité</h3>
            <p>"Au petit village" s'engage à offrir des figurines d'une qualité exceptionnelle, 
                fabriquées à partir de matériaux choisis avec soin pour leur durabilité et leur fidélité aux couleurs vibrantes de l'univers d'Astérix & Obélix.
                Rejoignez notre communauté
                Suivez-nous et partagez votre passion pour Astérix & Obélix. Ensemble,
                célébrons l'héritage de ces icônes culturelles qui continuent d'inspirer et d'amuser.
                on me demande une courte présentation de l'entreprise. 
            </p>
    </section>  
</main>
</div>