<div class="form-background">
  <div class="contact-form">
    <h2>Contactez-nous</h2>
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="name">Nom :</label>
        <input type="text" id="name" [(ngModel)]="contact.name" name="name" required>
      </div>
    <div>
      <label for="email">Email :</label>
        <input type="email" id="email" [(ngModel)]="contact.email" name="email" required>
    </div>
    <div>
      <label for="message">Message :</label>
      <textarea id="message" [(ngModel)]="contact.message" name="message" required></textarea>
    </div>
    <div class="button-container">
      <button type="submit">Envoyer</button>
    </div>
    </form>
  </div>
</div>