@font-face {
    font-family: 'Bubbleboddy Neue';
    src: url('/public/bubbleboddy_neue/bubbleboddyneue-regular trial.ttf') format('truetype');
  }

main{
    padding-left: 100px; 
    padding-right: 100px;
    background-color:#F9D0A3;
    opacity: 0.9;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    padding-bottom: 30px;
   
}

h1{
    font-family: 'Bubbleboddy Neue'sans-serif;
    color:#DA001E ;
    font-weight:bold ;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 30px;
}

p{
    font-family: 'confortaa'sans-serif;    
    color: #151217;
    font-weight: 500;
    text-align: justify;
    margin: auto;
    font-size: 20px;
}

.card {
  
    max-width: 300px; 
    margin: 10px auto;
}

 
.card-text{
    justify-content: center;
    text-align: center;   
}

.img-height-adjust {
    height: 400px; 
    width: auto; 
    object-fit: cover; 
  }

.products-display,
.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

.btn-yellow{
    background-color:#FDD90B; 
    border-color: #FDD90B; 
    color: #151217;
    font-family: 'confortaa'sans-serif;
    font-weight: 600;
    justify-content: center; 
    display: flex;
}
.card .btn-yellow:hover {
    background-color: #DA001E;
  }

h2{
    font-family: 'Bubbleboddy Neue'sans-serif;
    justify-content: center;
    text-align: center;
    color: #DA001E;
    margin-top: 30px;
}

h5{
    font-family: 'Bubbleboddy Neue'sans-serif;
    color: #DA001E;
    justify-content: center;
    text-align: center;
}

select,
input {
   font-family: 'confortaa'sans-serif;
   border: 1px solid #DA001E; 
   margin: 10px;
}

/* tablettes */
@media (max-width: 768px) {
    main {
        padding-left: 50px;
        padding-right: 50px;
    }
    h1 {
        font-size: 25px;
    }
    p {
        font-size: 16px;
    }
    .card {
        max-width: 300px; 
        margin: 20px auto;
      }
      .img-height-adjust {
        height: 274px; 
        width: auto; 
        object-fit: cover; 
      }    
}

/*mobiles */
@media (max-width: 480px) {
    main {
        padding-left: 20px;
        padding-right: 20px;
    }
    h1 {
        font-size: 22px; 
        margin-bottom: 20px;
        padding-top: 20px;
    }
    p {
        font-size: 14px;
        padding: 0 10px;
    }
    .card {
        max-width: 250px; 
        margin: 20px auto;
      
    }
   
    .img-height-adjust {
        height: 250px; 
        width: auto; 
        object-fit: cover;
    }
    .btn-yellow {
        font-size: 14px; 
        padding: 8px 15px; 
    }
}    